* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.welcome {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: darkred;
  text-shadow: 2px 2px 5px black;
  font-size: 100px;
  margin-top: 8px;
  margin-top: 0px;
  position: relative;
  background-color: burlywood;


}

.wave {
  height: 200px;
  border-radius: 90%;
}

.signup-contaner>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  margin: 10px;
  margin-top: 0ex;
  gap: 30px;
  background-color: cornsilk;







}

.wave {
  height: 200px;
  border-radius: 90%;
}

.signup-contaner>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  margin: 100px;
  margin-top: 0ex;
  gap: 30px;







}

.backsignup {
  opacity: .6;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: auto;
  z-index: -1;



}

.favoretCity {
  font-family: 'Times New Roman', Times, serif;
  size: 40px;
  display: flex;
  justify-content: center;
  border-left-color: brown;
  box-shadow: brown;


}